In [9]:
import pandas as pd
import numpy as np
import os

In [10]:
Asian_Alone2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2010_Asian_Alone.csv")
Asian_Alone2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2011_Asian_Alone.csv")
Asian_Alone2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2012_Asian_Alone.csv")
Asian_Alone2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2013_Asian_Alone.csv")
Asian_Alone2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2014_Asian_Alone.csv")
Asian_Alone2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2015_Asian_Alone.csv")
Asian_Alone2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2016_Asian_Alone.csv")
Asian_Alone2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2017_Asian_Alone.csv")
Asian_Alone2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2018_Asian_Alone.csv")
Asian_Alone2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Asian_Alone/2019_Asian_Alone.csv")

In [11]:
Asian_Alone2010["year"] = Asian_Alone2010.apply(lambda x: 2010, axis=1)
Asian_Alone2010["race"] = Asian_Alone2010.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2010.loc[2:36, "Label"] += "_Male"
Asian_Alone2010.loc[37:72, "Label"] += "_Female"
Asian_Alone2011["year"] = Asian_Alone2011.apply(lambda x: 2011, axis=1)
Asian_Alone2011["race"] = Asian_Alone2011.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2011.loc[2:36, "Label"] += "_Male"
Asian_Alone2011.loc[37:72, "Label"] += "_Female"
Asian_Alone2012["year"] = Asian_Alone2012.apply(lambda x: 2012, axis=1)
Asian_Alone2012["race"] = Asian_Alone2012.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2012.loc[2:36, "Label"] += "_Male"
Asian_Alone2012.loc[37:72, "Label"] += "_Female"
Asian_Alone2013["year"] = Asian_Alone2013.apply(lambda x: 2013, axis=1)
Asian_Alone2013["race"] = Asian_Alone2013.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2013.loc[2:36, "Label"] += "_Male"
Asian_Alone2013.loc[37:72, "Label"] += "_Female"
Asian_Alone2014["year"] = Asian_Alone2014.apply(lambda x: 2014, axis=1)
Asian_Alone2014["race"] = Asian_Alone2014.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2014.loc[2:36, "Label"] += "_Male"
Asian_Alone2014.loc[37:72, "Label"] += "_Female"
Asian_Alone2015["year"] = Asian_Alone2015.apply(lambda x: 2015, axis=1)
Asian_Alone2015["race"] = Asian_Alone2015.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2015.loc[2:36, "Label"] += "_Male"
Asian_Alone2015.loc[37:72, "Label"] += "_Female"
Asian_Alone2016["year"] = Asian_Alone2016.apply(lambda x: 2016, axis=1)
Asian_Alone2016["race"] = Asian_Alone2016.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2016.loc[2:36, "Label"] += "_Male"
Asian_Alone2016.loc[37:72, "Label"] += "_Female"
Asian_Alone2017["year"] = Asian_Alone2017.apply(lambda x: 2017, axis=1)
Asian_Alone2017["race"] = Asian_Alone2017.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2017.loc[2:36, "Label"] += "_Male"
Asian_Alone2017.loc[37:72, "Label"] += "_Female"
Asian_Alone2018["year"] = Asian_Alone2018.apply(lambda x: 2018, axis=1)
Asian_Alone2018["race"] = Asian_Alone2018.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2018.loc[2:36, "Label"] += "_Male"
Asian_Alone2018.loc[37:72, "Label"] += "_Female"
Asian_Alone2019["year"] = Asian_Alone2019.apply(lambda x: 2019, axis=1)
Asian_Alone2019["race"] = Asian_Alone2019.apply(lambda x: "Asian Alone", axis=1)
Asian_Alone2019.loc[2:36, "Label"] += "_Male"
Asian_Alone2019.loc[37:72, "Label"] += "_Female"
frames = [Asian_Alone2010,Asian_Alone2011,Asian_Alone2012,Asian_Alone2013,Asian_Alone2014,Asian_Alone2015,Asian_Alone2016,Asian_Alone2017,Asian_Alone2018,Asian_Alone2019]
Asian_Alone = pd.concat(frames)
Asian_Alone = Asian_Alone.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                          "Kings County, New York / Estimate":"Kings County, New York",
                                          "New York County, New York / Estimate":"New York County, New York",
                                          "Queens County, New York / Estimate":"Queens County, New York",
                                          "Richmond County, New York / Estimate":"Richmond County, New York"})

Asian_Alone

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race
0,Total:,22160,121664,98647,248187,16530.0,2010,Asian Alone
1,Male:,12283,66638,44989,135390,8822.0,2010,Asian Alone
2,"Management, business, science, and arts occupa...",3201,15689,28593,41250,4012.0,2010,Asian Alone
3,"Management, business, and financial occupation...",1103,5399,12780,19782,1419.0,2010,Asian Alone
4,Management occupations_Male,458,3330,7144,11371,719.0,2010,Asian Alone
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",0,99,0,0,204.0,2019,Asian Alone
69,"Production, transportation, and material movin...",606,3590,796,6487,264.0,2019,Asian Alone
70,Production occupations_Female,535,2350,586,4524,126.0,2019,Asian Alone
71,Transportation occupations_Female,71,602,0,827,0.0,2019,Asian Alone
72,Material moving occupations_Female,0,638,210,1136,138.0,2019,Asian Alone

In [12]:
BLACK_OR_AFRICAN_AMERICAN_ALONE2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2010_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2011_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2012_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2013_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2014_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2015_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2016_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2017_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2018_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")
BLACK_OR_AFRICAN_AMERICAN_ALONE2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/BLACK_OR_AFRICAN_AMERICAN_ALONE/2019_BLACK_OR_AFRICAN_AMERICAN_ALONE.csv")

In [13]:
BLACK_OR_AFRICAN_AMERICAN_ALONE2010["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2010.apply(lambda x: 2010, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2010["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2010.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2010.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2010.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2011["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2011.apply(lambda x: 2011, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2011["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2011.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2011.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2011.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2012["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2012.apply(lambda x: 2012, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2012["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2012.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2012.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2012.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2013["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2013.apply(lambda x: 2013, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2013["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2013.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2013.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2013.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2014["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2014.apply(lambda x: 2014, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2014["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2014.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2014.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2014.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2015["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2015.apply(lambda x: 2015, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2015["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2015.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2015.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2015.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2016["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2016.apply(lambda x: 2016, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2016["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2016.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2016.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2016.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2017["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2017.apply(lambda x: 2017, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2017["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2017.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2017.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2017.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2018["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2018.apply(lambda x: 2018, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2018["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2018.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2018.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2018.loc[37:72, "Label"] += "_Female"
BLACK_OR_AFRICAN_AMERICAN_ALONE2019["year"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2019.apply(lambda x: 2019, axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2019["race"] = BLACK_OR_AFRICAN_AMERICAN_ALONE2019.apply(lambda x: "BLACK OR AFRICAN AMERICAN ALONE", axis=1)
BLACK_OR_AFRICAN_AMERICAN_ALONE2019.loc[2:36, "Label"] += "_Male"
BLACK_OR_AFRICAN_AMERICAN_ALONE2019.loc[37:72, "Label"] += "_Female"
frames = [BLACK_OR_AFRICAN_AMERICAN_ALONE2010,BLACK_OR_AFRICAN_AMERICAN_ALONE2011,BLACK_OR_AFRICAN_AMERICAN_ALONE2012,
          BLACK_OR_AFRICAN_AMERICAN_ALONE2013,BLACK_OR_AFRICAN_AMERICAN_ALONE2014,BLACK_OR_AFRICAN_AMERICAN_ALONE2015,
          BLACK_OR_AFRICAN_AMERICAN_ALONE2016,BLACK_OR_AFRICAN_AMERICAN_ALONE2017,BLACK_OR_AFRICAN_AMERICAN_ALONE2018,
          BLACK_OR_AFRICAN_AMERICAN_ALONE2019]
BLACK_OR_AFRICAN_AMERICAN_ALONE = pd.concat(frames)
BLACK_OR_AFRICAN_AMERICAN_ALONE = BLACK_OR_AFRICAN_AMERICAN_ALONE.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
BLACK_OR_AFRICAN_AMERICAN_ALONE

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York",year,race,"Richmond County, New York"
0,Total:,183071,362635,93376,183443,2010,BLACK OR AFRICAN AMERICAN ALONE,NaN
1,Male:,77153,149278,44349,81639,2010,BLACK OR AFRICAN AMERICAN ALONE,NaN
2,"Management, business, science, and arts occupa...",15701,33765,14457,16550,2010,BLACK OR AFRICAN AMERICAN ALONE,NaN
3,"Management, business, and financial occupation...",5947,12398,5690,6039,2010,BLACK OR AFRICAN AMERICAN ALONE,NaN
4,Management occupations_Male,3512,8521,3004,3973,2010,BLACK OR AFRICAN AMERICAN ALONE,NaN
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",72,243,342,473,2019,BLACK OR AFRICAN AMERICAN ALONE,NaN
69,"Production, transportation, and material movin...",5647,9255,1367,3851,2019,BLACK OR AFRICAN AMERICAN ALONE,NaN
70,Production occupations_Female,2222,2053,303,857,2019,BLACK OR AFRICAN AMERICAN ALONE,NaN
71,Transportation occupations_Female,2200,5023,539,1977,2019,BLACK OR AFRICAN AMERICAN ALONE,NaN
72,Material moving occupations_Female,1225,2179,525,1017,2019,BLACK OR AFRICAN AMERICAN ALONE,NaN

In [14]:
HISPANIC_OR_LATINO2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2010_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2011_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2012_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2013_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2014_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2015_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2016_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2017_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2018_HISPANIC_OR_LATINO.csv")
HISPANIC_OR_LATINO2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/HISPANIC_OR_LATINO/2019_HISPANIC_OR_LATINO.csv")

In [15]:
HISPANIC_OR_LATINO2010["year"] = HISPANIC_OR_LATINO2010.apply(lambda x: 2010, axis=1)
HISPANIC_OR_LATINO2010["race"] = HISPANIC_OR_LATINO2010.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2010.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2010.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2011["year"] = HISPANIC_OR_LATINO2011.apply(lambda x: 2011, axis=1)
HISPANIC_OR_LATINO2011["race"] = HISPANIC_OR_LATINO2011.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2011.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2011.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2012["year"] = HISPANIC_OR_LATINO2012.apply(lambda x: 2012, axis=1)
HISPANIC_OR_LATINO2012["race"] = HISPANIC_OR_LATINO2012.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2012.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2012.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2013["year"] = HISPANIC_OR_LATINO2013.apply(lambda x: 2013, axis=1)
HISPANIC_OR_LATINO2013["race"] = HISPANIC_OR_LATINO2013.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2013.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2013.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2014["year"] = HISPANIC_OR_LATINO2014.apply(lambda x: 2014, axis=1)
HISPANIC_OR_LATINO2014["race"] = HISPANIC_OR_LATINO2014.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2014.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2014.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2015["year"] = HISPANIC_OR_LATINO2015.apply(lambda x: 2015, axis=1)
HISPANIC_OR_LATINO2015["race"] = HISPANIC_OR_LATINO2015.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2015.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2015.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2016["year"] = HISPANIC_OR_LATINO2016.apply(lambda x: 2016, axis=1)
HISPANIC_OR_LATINO2016["race"] = HISPANIC_OR_LATINO2016.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2016.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2016.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2017["year"] = HISPANIC_OR_LATINO2017.apply(lambda x: 2017, axis=1)
HISPANIC_OR_LATINO2017["race"] = HISPANIC_OR_LATINO2017.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2017.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2017.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2018["year"] = HISPANIC_OR_LATINO2018.apply(lambda x: 2018, axis=1)
HISPANIC_OR_LATINO2018["race"] = HISPANIC_OR_LATINO2018.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2018.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2018.loc[37:72, "Label"] += "_Female"
HISPANIC_OR_LATINO2019["year"] = HISPANIC_OR_LATINO2019.apply(lambda x: 2019, axis=1)
HISPANIC_OR_LATINO2019["race"] = HISPANIC_OR_LATINO2019.apply(lambda x: "HISPANIC OR LATINO", axis=1)
HISPANIC_OR_LATINO2019.loc[2:36, "Label"] += "_Male"
HISPANIC_OR_LATINO2019.loc[37:72, "Label"] += "_Female"
frames = [HISPANIC_OR_LATINO2010,HISPANIC_OR_LATINO2011,HISPANIC_OR_LATINO2012,
          HISPANIC_OR_LATINO2013,HISPANIC_OR_LATINO2014,HISPANIC_OR_LATINO2015,
          HISPANIC_OR_LATINO2016,HISPANIC_OR_LATINO2017,HISPANIC_OR_LATINO2018,
          HISPANIC_OR_LATINO2019]
HISPANIC_OR_LATINO = pd.concat(frames)
HISPANIC_OR_LATINO = HISPANIC_OR_LATINO.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
HISPANIC_OR_LATINO

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race
0,Total:,272862,198296,165478,298260,31890,2010,HISPANIC OR LATINO
1,Male:,140811,109180,86537,172995,17006,2010,HISPANIC OR LATINO
2,"Management, business, science, and arts occupa...",16722,16553,21667,23523,3476,2010,HISPANIC OR LATINO
3,"Management, business, and financial occupation...",7407,7107,10337,10973,2027,2010,HISPANIC OR LATINO
4,Management occupations_Male,5541,5681,6763,7414,1715,2010,HISPANIC OR LATINO
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",333,177,267,419,0,2019,HISPANIC OR LATINO
69,"Production, transportation, and material movin...",10344,5642,3954,9805,363,2019,HISPANIC OR LATINO
70,Production occupations_Female,4814,2292,1430,5527,181,2019,HISPANIC OR LATINO
71,Transportation occupations_Female,2840,1496,754,2075,182,2019,HISPANIC OR LATINO
72,Material moving occupations_Female,2690,1854,1770,2203,0,2019,HISPANIC OR LATINO

In [16]:
SomeOtherRaceAlone2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2010_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2011_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2012_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2013_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2014_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2015_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2016_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2017_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2018_SomeOtherRaceAlone.csv")
SomeOtherRaceAlone2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Some_Other_Race_Alone/2019_SomeOtherRaceAlone.csv")

In [17]:
SomeOtherRaceAlone2010["year"] = SomeOtherRaceAlone2010.apply(lambda x: 2010, axis=1)
SomeOtherRaceAlone2010["race"] = SomeOtherRaceAlone2010.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2010.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2010.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2011["year"] = SomeOtherRaceAlone2011.apply(lambda x: 2011, axis=1)
SomeOtherRaceAlone2011["race"] = SomeOtherRaceAlone2011.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2011.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2011.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2012["year"] = SomeOtherRaceAlone2012.apply(lambda x: 2012, axis=1)
SomeOtherRaceAlone2012["race"] = SomeOtherRaceAlone2012.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2012.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2012.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2013["year"] = SomeOtherRaceAlone2013.apply(lambda x: 2013, axis=1)
SomeOtherRaceAlone2013["race"] = SomeOtherRaceAlone2013.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2013.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2013.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2014["year"] = SomeOtherRaceAlone2014.apply(lambda x: 2014, axis=1)
SomeOtherRaceAlone2014["race"] = SomeOtherRaceAlone2014.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2014.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2014.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2015["year"] = SomeOtherRaceAlone2015.apply(lambda x: 2015, axis=1)
SomeOtherRaceAlone2015["race"] = SomeOtherRaceAlone2015.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2015.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2015.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2016["year"] = SomeOtherRaceAlone2016.apply(lambda x: 2016, axis=1)
SomeOtherRaceAlone2016["race"] = SomeOtherRaceAlone2016.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2016.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2016.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2017["year"] = SomeOtherRaceAlone2017.apply(lambda x: 2017, axis=1)
SomeOtherRaceAlone2017["race"] = SomeOtherRaceAlone2017.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2017.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2017.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2018["year"] = SomeOtherRaceAlone2018.apply(lambda x: 2018, axis=1)
SomeOtherRaceAlone2018["race"] = SomeOtherRaceAlone2018.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2018.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2018.loc[37:72, "Label"] += "_Female"
SomeOtherRaceAlone2019["year"] = SomeOtherRaceAlone2019.apply(lambda x: 2019, axis=1)
SomeOtherRaceAlone2019["race"] = SomeOtherRaceAlone2019.apply(lambda x: "Some Other Race Alone", axis=1)
SomeOtherRaceAlone2019.loc[2:36, "Label"] += "_Male"
SomeOtherRaceAlone2019.loc[37:72, "Label"] += "_Female"
frames = [SomeOtherRaceAlone2010,SomeOtherRaceAlone2011,SomeOtherRaceAlone2012,
          SomeOtherRaceAlone2013,SomeOtherRaceAlone2014,SomeOtherRaceAlone2015,
          SomeOtherRaceAlone2016,SomeOtherRaceAlone2017,SomeOtherRaceAlone2018,
          SomeOtherRaceAlone2019]
SomeOtherRaceAlone = pd.concat(frames)
SomeOtherRaceAlone = SomeOtherRaceAlone.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
SomeOtherRaceAlone

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York",year,race,"Richmond County, New York"
0,Total:,179576,84438,75334,136409,2010,Some Other Race Alone,NaN
1,Male:,96201,48456,42397,77334,2010,Some Other Race Alone,NaN
2,"Management, business, science, and arts occupa...",10280,7535,7667,9230,2010,Some Other Race Alone,NaN
3,"Management, business, and financial occupation...",4551,3150,3707,4517,2010,Some Other Race Alone,NaN
4,Management occupations_Male,3447,2827,2725,3381,2010,Some Other Race Alone,NaN
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",111,177,223,177,2019,Some Other Race Alone,NaN
69,"Production, transportation, and material movin...",5833,2368,2599,4450,2019,Some Other Race Alone,NaN
70,Production occupations_Female,2759,682,1284,2857,2019,Some Other Race Alone,NaN
71,Transportation occupations_Female,1443,679,0,542,2019,Some Other Race Alone,NaN
72,Material moving occupations_Female,1631,1007,1315,1051,2019,Some Other Race Alone,NaN

In [18]:
Two_or_More_Races2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2010_Two_or_More_Races.csv")
Two_or_More_Races2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2011_Two_or_More_Races.csv")
Two_or_More_Races2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2012_Two_or_More_Races.csv")
Two_or_More_Races2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2013_Two_or_More_Races.csv")
Two_or_More_Races2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2014_Two_or_More_Races.csv")
Two_or_More_Races2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2015_Two_or_More_Races.csv")
Two_or_More_Races2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2016_Two_or_More_Races.csv")
Two_or_More_Races2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2017_Two_or_More_Races.csv")
Two_or_More_Races2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2018_Two_or_More_Races.csv")
Two_or_More_Races2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/Two_or_More_Races/2019_Two_or_More_Races.csv")

In [19]:
Two_or_More_Races2010["year"] = Two_or_More_Races2010.apply(lambda x: 2010, axis=1)
Two_or_More_Races2010["race"] = Two_or_More_Races2010.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2010.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2010.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2011["year"] = Two_or_More_Races2011.apply(lambda x: 2011, axis=1)
Two_or_More_Races2011["race"] = Two_or_More_Races2011.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2011.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2011.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2012["year"] = Two_or_More_Races2012.apply(lambda x: 2012, axis=1)
Two_or_More_Races2012["race"] = Two_or_More_Races2012.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2012.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2012.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2013["year"] = Two_or_More_Races2013.apply(lambda x: 2013, axis=1)
Two_or_More_Races2013["race"] = Two_or_More_Races2013.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2013.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2013.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2014["year"] = Two_or_More_Races2014.apply(lambda x: 2014, axis=1)
Two_or_More_Races2014["race"] = Two_or_More_Races2014.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2014.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2014.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2015["year"] = Two_or_More_Races2015.apply(lambda x: 2015, axis=1)
Two_or_More_Races2015["race"] = Two_or_More_Races2015.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2015.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2015.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2016["year"] = Two_or_More_Races2016.apply(lambda x: 2016, axis=1)
Two_or_More_Races2016["race"] = Two_or_More_Races2016.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2016.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2016.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2017["year"] = Two_or_More_Races2017.apply(lambda x: 2017, axis=1)
Two_or_More_Races2017["race"] = Two_or_More_Races2017.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2017.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2017.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2018["year"] = Two_or_More_Races2018.apply(lambda x: 2018, axis=1)
Two_or_More_Races2018["race"] = Two_or_More_Races2018.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2018.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2018.loc[37:72, "Label"] += "_Female"
Two_or_More_Races2019["year"] = Two_or_More_Races2019.apply(lambda x: 2019, axis=1)
Two_or_More_Races2019["race"] = Two_or_More_Races2019.apply(lambda x: "Two or More Races", axis=1)
Two_or_More_Races2019.loc[2:36, "Label"] += "_Male"
Two_or_More_Races2019.loc[37:72, "Label"] += "_Female"
frames = [Two_or_More_Races2010,Two_or_More_Races2011,Two_or_More_Races2012,
          Two_or_More_Races2013,Two_or_More_Races2014,Two_or_More_Races2015,
          Two_or_More_Races2016,Two_or_More_Races2017,Two_or_More_Races2018,
          Two_or_More_Races2019]
Two_or_More_Races = pd.concat(frames)
Two_or_More_Races = Two_or_More_Races.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
Two_or_More_Races

,Label,"Kings County, New York","New York County, New York","Queens County, New York",year,race,"Bronx County, New York"
0,Total:,15798,27255.0,30488,2010,Two or More Races,NaN
1,Male:,8756,11771.0,16093,2010,Two or More Races,NaN
2,"Management, business, science, and arts occupa...",3303,5298.0,4512,2010,Two or More Races,NaN
3,"Management, business, and financial occupation...",1515,2348.0,2505,2010,Two or More Races,NaN
4,Management occupations_Male,1126,1589.0,1569,2010,Two or More Races,NaN
...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",0,0.0,77,2019,Two or More Races,82.0
69,"Production, transportation, and material movin...",337,350.0,791,2019,Two or More Races,797.0
70,Production occupations_Female,337,28.0,114,2019,Two or More Races,316.0
71,Transportation occupations_Female,0,155.0,445,2019,Two or More Races,481.0
72,Material moving occupations_Female,0,167.0,232,2019,Two or More Races,0.0

In [20]:
White_Alone2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2010_White_Alone.csv")
White_Alone2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2011_White_Alone.csv")
White_Alone2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2012_White_Alone.csv")
White_Alone2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2013_White_Alone.csv")
White_Alone2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2014_White_Alone.csv")
White_Alone2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2015_White_Alone.csv")
White_Alone2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2016_White_Alone.csv")
White_Alone2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2017_White_Alone.csv")
White_Alone2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2018_White_Alone.csv")
White_Alone2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/White_Alone/2019_White_Alone.csv")

In [21]:
White_Alone2010["year"] = White_Alone2010.apply(lambda x: 2010, axis=1)
White_Alone2010["race"] = White_Alone2010.apply(lambda x: "White Alone", axis=1)
White_Alone2010.loc[2:36, "Label"] += "_Male"
White_Alone2010.loc[37:72, "Label"] += "_Female"
White_Alone2011["year"] = White_Alone2011.apply(lambda x: 2011, axis=1)
White_Alone2011["race"] = White_Alone2011.apply(lambda x: "White Alone", axis=1)
White_Alone2011.loc[2:36, "Label"] += "_Male"
White_Alone2011.loc[37:72, "Label"] += "_Female"
White_Alone2012["year"] = White_Alone2012.apply(lambda x: 2012, axis=1)
White_Alone2012["race"] = White_Alone2012.apply(lambda x: "White Alone", axis=1)
White_Alone2012.loc[2:36, "Label"] += "_Male"
White_Alone2012.loc[37:72, "Label"] += "_Female"
White_Alone2013["year"] = White_Alone2013.apply(lambda x: 2013, axis=1)
White_Alone2013["race"] = White_Alone2013.apply(lambda x: "White Alone", axis=1)
White_Alone2013.loc[2:36, "Label"] += "_Male"
White_Alone2013.loc[37:72, "Label"] += "_Female"
White_Alone2014["year"] = White_Alone2014.apply(lambda x: 2014, axis=1)
White_Alone2014["race"] = White_Alone2014.apply(lambda x: "White Alone", axis=1)
White_Alone2014.loc[2:36, "Label"] += "_Male"
White_Alone2014.loc[37:72, "Label"] += "_Female"
White_Alone2015["year"] = White_Alone2015.apply(lambda x: 2015, axis=1)
White_Alone2015["race"] = White_Alone2015.apply(lambda x: "White Alone", axis=1)
White_Alone2015.loc[2:36, "Label"] += "_Male"
White_Alone2015.loc[37:72, "Label"] += "_Female"
White_Alone2016["year"] = White_Alone2016.apply(lambda x: 2016, axis=1)
White_Alone2016["race"] = White_Alone2016.apply(lambda x: "White Alone", axis=1)
White_Alone2016.loc[2:36, "Label"] += "_Male"
White_Alone2016.loc[37:72, "Label"] += "_Female"
White_Alone2017["year"] = White_Alone2017.apply(lambda x: 2017, axis=1)
White_Alone2017["race"] = White_Alone2017.apply(lambda x: "White Alone", axis=1)
White_Alone2017.loc[2:36, "Label"] += "_Male"
White_Alone2017.loc[37:72, "Label"] += "_Female"
White_Alone2018["year"] = White_Alone2018.apply(lambda x: 2018, axis=1)
White_Alone2018["race"] = White_Alone2018.apply(lambda x: "White Alone", axis=1)
White_Alone2018.loc[2:36, "Label"] += "_Male"
White_Alone2018.loc[37:72, "Label"] += "_Female"
White_Alone2019["year"] = White_Alone2019.apply(lambda x: 2019, axis=1)
White_Alone2019["race"] = White_Alone2019.apply(lambda x: "White Alone", axis=1)
White_Alone2019.loc[2:36, "Label"] += "_Male"
White_Alone2019.loc[37:72, "Label"] += "_Female"
frames = [White_Alone2010,White_Alone2011,White_Alone2012,
          White_Alone2013,White_Alone2014,White_Alone2015,
          White_Alone2016,White_Alone2017,White_Alone2018,
          White_Alone2019]
White_Alone = pd.concat(frames)
White_Alone = White_Alone.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
White_Alone

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race
0,Total:,120733,496204,542543,444037,153816,2010,White Alone
1,Male:,63416,263418,275189,247364,82619,2010,White Alone
2,"Management, business, science, and arts occupa...",15915,114625,191941,73653,27656,2010,White Alone
3,"Management, business, and financial occupation...",5949,41094,87004,34708,13924,2010,White Alone
4,Management occupations_Male,3971,29009,50751,23656,9817,2010,White Alone
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",68,121,17,292,485,2019,White Alone
69,"Production, transportation, and material movin...",1837,5730,3350,7697,1441,2019,White Alone
70,Production occupations_Female,471,3224,1193,3925,314,2019,White Alone
71,Transportation occupations_Female,770,993,914,2311,476,2019,White Alone
72,Material moving occupations_Female,596,1513,1243,1461,651,2019,White Alone

In [22]:
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2010_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2011_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2012_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2013_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2014_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2015_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2016_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2017_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2018_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/occupation_sex_race_year_gender_county/WHITE_ALONE_NOT_HISPANIC_OR_LATINO/2019_WHITE_ALONE_NOT_HISPANIC_OR_LATINO.csv")

In [23]:
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010.apply(lambda x: 2010, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011.apply(lambda x: 2011, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012.apply(lambda x: 2012, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013.apply(lambda x: 2013, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014.apply(lambda x: 2014, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015.apply(lambda x: 2015, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016.apply(lambda x: 2016, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017.apply(lambda x: 2017, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018.apply(lambda x: 2018, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018.loc[37:72, "Label"] += "_Female"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019["year"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019.apply(lambda x: 2019, axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019["race"] = WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019.apply(lambda x: "WHITE ALONE NOT HISPANIC OR LATINO", axis=1)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019.loc[2:36, "Label"] += "_Male"
WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019.loc[37:72, "Label"] += "_Female"
frames = [WHITE_ALONE_NOT_HISPANIC_OR_LATINO2010,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2011,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2012,
          WHITE_ALONE_NOT_HISPANIC_OR_LATINO2013,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2014,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2015,
          WHITE_ALONE_NOT_HISPANIC_OR_LATINO2016,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2017,WHITE_ALONE_NOT_HISPANIC_OR_LATINO2018,
          WHITE_ALONE_NOT_HISPANIC_OR_LATINO2019]
WHITE_ALONE_NOT_HISPANIC_OR_LATINO = pd.concat(frames)
WHITE_ALONE_NOT_HISPANIC_OR_LATINO = WHITE_ALONE_NOT_HISPANIC_OR_LATINO.rename(columns={"Bronx County, New York / Estimate":"Bronx County, New York",
                                                                                  "Kings County, New York / Estimate":"Kings County, New York",
                                                                                  "New York County, New York / Estimate":"New York County, New York",
                                                                                  "Queens County, New York / Estimate":"Queens County, New York",
                                                                                  "Richmond County, New York / Estimate":"Richmond County, New York"})
WHITE_ALONE_NOT_HISPANIC_OR_LATINO

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race
0,Total:,62493,407497,479706,283989,132299,2010,WHITE ALONE NOT HISPANIC OR LATINO
1,Male:,32359,215595,243425,153004,71620,2010,WHITE ALONE NOT HISPANIC OR LATINO
2,"Management, business, science, and arts occupa...",11749,107844,180548,60264,25026,2010,WHITE ALONE NOT HISPANIC OR LATINO
3,"Management, business, and financial occupation...",4324,38045,81321,28543,12479,2010,WHITE ALONE NOT HISPANIC OR LATINO
4,Management occupations_Male,3041,26749,47016,19713,8523,2010,WHITE ALONE NOT HISPANIC OR LATINO
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",0,121,17,72,485,2019,WHITE ALONE NOT HISPANIC OR LATINO
69,"Production, transportation, and material movin...",674,3239,2190,3226,1124,2019,WHITE ALONE NOT HISPANIC OR LATINO
70,Production occupations_Female,220,1995,1075,1547,179,2019,WHITE ALONE NOT HISPANIC OR LATINO
71,Transportation occupations_Female,285,587,160,1181,294,2019,WHITE ALONE NOT HISPANIC OR LATINO
72,Material moving occupations_Female,169,657,955,498,651,2019,WHITE ALONE NOT HISPANIC OR LATINO

In [24]:
frames = [Asian_Alone, BLACK_OR_AFRICAN_AMERICAN_ALONE, HISPANIC_OR_LATINO, SomeOtherRaceAlone,Two_or_More_Races,
          White_Alone,WHITE_ALONE_NOT_HISPANIC_OR_LATINO]
race = pd.concat(frames)
race

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race
0,Total:,22160.0,121664,98647.0,248187,16530.0,2010,Asian Alone
1,Male:,12283.0,66638,44989.0,135390,8822.0,2010,Asian Alone
2,"Management, business, science, and arts occupa...",3201.0,15689,28593.0,41250,4012.0,2010,Asian Alone
3,"Management, business, and financial occupation...",1103.0,5399,12780.0,19782,1419.0,2010,Asian Alone
4,Management occupations_Male,458.0,3330,7144.0,11371,719.0,2010,Asian Alone
...,...,...,...,...,...,...,...,...
68,"Installation, maintenance, and repair occupati...",0.0,121,17.0,72,485.0,2019,WHITE ALONE NOT HISPANIC OR LATINO
69,"Production, transportation, and material movin...",674.0,3239,2190.0,3226,1124.0,2019,WHITE ALONE NOT HISPANIC OR LATINO
70,Production occupations_Female,220.0,1995,1075.0,1547,179.0,2019,WHITE ALONE NOT HISPANIC OR LATINO
71,Transportation occupations_Female,285.0,587,160.0,1181,294.0,2019,WHITE ALONE NOT HISPANIC OR LATINO
72,Material moving occupations_Female,169.0,657,955.0,498,651.0,2019,WHITE ALONE NOT HISPANIC OR LATINO

In [26]:
race.to_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_01.csv")