In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
JobType_2010 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2010.xlsx")
JobType_2011 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2011.xlsx")
JobType_2012 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2012.xlsx")
JobType_2013 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2013.xlsx")
JobType_2014 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2014.xlsx")
JobType_2015 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2015.xlsx")
JobType_2016 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2016.xlsx")
JobType_2017 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2017.xlsx")
JobType_2018 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2018.xlsx")
JobType_2019 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType_2019.xlsx")

In [4]:
JobType_2010 = JobType_2010[["Label","New York / Total / Estimate"]]
JobType_2010["year"] = JobType_2010.apply(lambda x: 2010, axis=1)
JobType_2011 = JobType_2011[["Label","New York / Total / Estimate"]]
JobType_2011["year"] = JobType_2011.apply(lambda x: 2011, axis=1)
JobType_2012 = JobType_2012[["Label","New York / Total / Estimate"]]
JobType_2012["year"] = JobType_2012.apply(lambda x: 2012, axis=1)
JobType_2013 = JobType_2013[["Label","New York / Total / Estimate"]]
JobType_2013["year"] = JobType_2013.apply(lambda x: 2013, axis=1)
JobType_2014 = JobType_2014[["Label","New York / Total / Estimate"]]
JobType_2014["year"] = JobType_2014.apply(lambda x: 2014, axis=1)
JobType_2015 = JobType_2015[["Label","New York / Total / Estimate"]]
JobType_2015["year"] = JobType_2015.apply(lambda x: 2015, axis=1)
JobType_2016 = JobType_2016[["Label","New York / Total / Estimate"]]
JobType_2016["year"] = JobType_2016.apply(lambda x: 2016, axis=1)
JobType_2017 = JobType_2017[["Label","New York / Total / Estimate"]]
JobType_2017["year"] = JobType_2017.apply(lambda x: 2017, axis=1)
JobType_2018 = JobType_2018[["Label","New York / Total / Estimate"]]
JobType_2018["year"] = JobType_2018.apply(lambda x: 2018, axis=1)
JobType_2019 = JobType_2019[["Label","New York / Total / Estimate"]]
JobType_2019["year"] = JobType_2019.apply(lambda x: 2019, axis=1)
frames = [JobType_2010,JobType_2011,JobType_2012,JobType_2013,JobType_2014,JobType_2015,JobType_2016,JobType_2017,JobType_2018,JobType_2019]
JobType = pd.concat(frames)
JobType = JobType[(JobType['Label'] != "PERCENT ALLOCATED") & (JobType['Label'] != "PERCENT IMPUTED") & (JobType['Label'] != "Industry")]
JobType = JobType.rename(columns={"New York / Total / Estimate":"Total"})
JobType

                                                Label      Total  year
0      Civilian employed population 16 years and over  8913640.0  2010
1   Agriculture, forestry, fishing and hunting, an...    57713.0  2010
2                                        Construction   502090.0  2010
3                                       Manufacturing   600607.0  2010
4                                     Wholesale trade   233847.0  2010
5                                        Retail trade   957810.0  2010
6       Transportation and warehousing, and utilities   459582.0  2010
7                                         Information   255604.0  2010
8   Finance and insurance, and real estate and ren...   738131.0  2010
9   Professional, scientific, and management, and ...   977046.0  2010
10  Educational services, and health care and soci...  2457616.0  2010
11  Arts, entertainment, and recreation, and accom...   771535.0  2010
12       Other services, except public administration   465602.0  2010
13                              Public administration   436457.0  2010
0      Civilian employed population 16 years and over  8959015.0  2011
1   Agriculture, forestry, fishing and hunting, an...    53868.0  2011
2                                        Construction   497782.0  2011
3                                       Manufacturing   598136.0  2011
4                                     Wholesale trade   225373.0  2011
5                                        Retail trade   983700.0  2011
6       Transportation and warehousing, and utilities   456823.0  2011
7                                         Information   255015.0  2011
8   Finance and insurance, and real estate and ren...   728876.0  2011
9   Professional, scientific, and management, and ...   988778.0  2011
10  Educational services, and health care and soci...  2460620.0  2011
11  Arts, entertainment, and recreation, and accom...   824296.0  2011
12       Other services, except public administration   457705.0  2011
13                              Public administration   428043.0  2011
0      Civilian employed population 16 years and over  9099766.0  2012
1   Agriculture, forestry, fishing and hunting, an...    51554.0  2012
..                                                ...        ...   ...
12       Other services, except public administration   487740.0  2017
13                              Public administration   431896.0  2017
0      Civilian employed population 16 years and over  9504716.0  2018
1   Agriculture, forestry, fishing and hunting, an...    50480.0  2018
2                                        Construction   545896.0  2018
3                                       Manufacturing   551379.0  2018
4                                     Wholesale trade   205014.0  2018
5                                        Retail trade   941072.0  2018
6       Transportation and warehousing, and utilities   555380.0  2018
7                                         Information   266579.0  2018
8   Finance and insurance, and real estate and ren...   757363.0  2018
9   Professional, scientific, and management, and ...  1166509.0  2018
10  Educational services, and health care and soci...  2647464.0  2018
11  Arts, entertainment, and recreation, and accom...   905696.0  2018
12       Other services, except public administration   467645.0  2018
13                              Public administration   444239.0  2018
0      Civilian employed population 16 years and over  9611029.0  2019
1   Agriculture, forestry, fishing and hunting, an...    55788.0  2019
2                                        Construction   575689.0  2019
3                                       Manufacturing   551686.0  2019
4                                     Wholesale trade   218852.0  2019
5                                        Retail trade   926508.0  2019
6       Transportation and warehousing, and utilities   550264.0  2019
7                                         Information   275395.0  2019
8   Finance and insurance, and real estate and ren...   750572.0  2019
9   Professional, scientific, and management, and ...  1168402.0  2019
10  Educational services, and health care and soci...  2760336.0  2019
11  Arts, entertainment, and recreation, and accom...   906635.0  2019
12       Other services, except public administration   428369.0  2019
13                              Public administration   442533.0  2019

[140 rows x 3 columns]

In [5]:
JobType.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentByJobType\JobType.csv")

In [6]:
employStatus_2010 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2010.xlsx")
employStatus_2011 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2011.xlsx")
employStatus_2012 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2012.xlsx")
employStatus_2013 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2013.xlsx")
employStatus_2014 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2014.xlsx")
employStatus_2015 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2015.xlsx")
employStatus_2016 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2016.xlsx")
employStatus_2017 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2017.xlsx")
employStatus_2018 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2018.xlsx")
employStatus_2019 = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentStatus_2019.xlsx")

In [23]:
employStatus_2010 = employStatus_2010[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2010["year"] = employStatus_2010.apply(lambda x: 2010, axis=1)
employAGE_2010 = employStatus_2010.iloc[[0,2,3,4,5,6,7,8]]

employStatus_2011 = employStatus_2011[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2011["year"] = employStatus_2011.apply(lambda x: 2011, axis=1)
employAGE_2011 = employStatus_2011.iloc[[0,2,3,4,5,6,7,8]]

employStatus_2012 = employStatus_2012[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2012["year"] = employStatus_2012.apply(lambda x: 2012, axis=1)
employAGE_2012 = employStatus_2012.iloc[[0,2,3,4,5,6,7,8]]

employStatus_2013 = employStatus_2013[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2013["year"] = employStatus_2013.apply(lambda x: 2013, axis=1)
employAGE_2013 = employStatus_2013.iloc[[0,2,3,4,5,6,7,8]]

employStatus_2014 = employStatus_2014[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2014["year"] = employStatus_2014.apply(lambda x: 2014, axis=1)
employAGE_2014 = employStatus_2014.iloc[[0,2,3,4,5,6,7,8]]

employStatus_2015 = employStatus_2015[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2015["year"] = employStatus_2015.apply(lambda x: 2015, axis=1)
employAGE_2015 = employStatus_2015.iloc[[0,2,3,4,5,6,7,8,9,10,11]]
d2015_25_44 = {"Label":["25 to 44 years"],"New York / Total / Estimate":[employAGE_2015.iloc[3,1]+employAGE_2015.iloc[4,1]+employAGE_2015.iloc[5,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2015.iloc[3,2]+employAGE_2015.iloc[4,2]+employAGE_2015.iloc[5,2]],"year":[2015]}
total2015_25_44 = pd.DataFrame(data = d2015_25_44)
employAGE_2015 = employAGE_2015.append(total2015_25_44, ignore_index=True)
d2015_55_64 = {"Label":["55 to 64 years"],"New York / Total / Estimate":[employAGE_2015.iloc[7,1]+employAGE_2015.iloc[8,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2015.iloc[7,2]+employAGE_2015.iloc[8,2]],"year":[2015]}
total2015_55_64 = pd.DataFrame(data = d2015_55_64)
employAGE_2015 = employAGE_2015.append(total2015_55_64, ignore_index=True)
employAGE_2015 = employAGE_2015.drop([3,4,5,7,8])


employStatus_2016 = employStatus_2016[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2016["year"] = employStatus_2016.apply(lambda x: 2016, axis=1)
employAGE_2016 = employStatus_2016.iloc[[0,2,3,4,5,6,7,8,9,10,11]]
d2016_25_44 = {"Label":["25 to 44 years"],"New York / Total / Estimate":[employAGE_2016.iloc[3,1]+employAGE_2016.iloc[4,1]+employAGE_2016.iloc[5,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2017.iloc[3,2]+employAGE_2016.iloc[4,2]+employAGE_2016.iloc[5,2]],"year":[2016]}
total2016_25_44 = pd.DataFrame(data = d2016_25_44)
employAGE_2016 = employAGE_2016.append(total2016_25_44, ignore_index=True)
d2016_55_64 = {"Label":["55 to 64 years"],"New York / Total / Estimate":[employAGE_2016.iloc[7,1]+employAGE_2016.iloc[8,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2016.iloc[7,2]+employAGE_2016.iloc[8,2]],"year":[2016]}
total2016_55_64 = pd.DataFrame(data = d2016_55_64)
employAGE_2016 = employAGE_2016.append(total2016_55_64, ignore_index=True)
employAGE_2016 = employAGE_2016.drop([3,4,5,7,8])

employStatus_2017 = employStatus_2017[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2017["year"] = employStatus_2017.apply(lambda x: 2017, axis=1)
employAGE_2017 = employStatus_2017.iloc[[0,2,3,4,5,6,7,8,9,10,11]]
d2017_25_44 = {"Label":["25 to 44 years"],"New York / Total / Estimate":[employAGE_2017.iloc[3,1]+employAGE_2017.iloc[4,1]+employAGE_2017.iloc[5,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2017.iloc[3,2]+employAGE_2017.iloc[4,2]+employAGE_2017.iloc[5,2]],"year":[2017]}
total2017_25_44 = pd.DataFrame(data = d2017_25_44)
employAGE_2017 = employAGE_2017.append(total2017_25_44, ignore_index=True)
d2017_55_64 = {"Label":["55 to 64 years"],"New York / Total / Estimate":[employAGE_2017.iloc[7,1]+employAGE_2017.iloc[8,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2017.iloc[7,2]+employAGE_2017.iloc[8,2]],"year":[2017]}
total2017_55_64 = pd.DataFrame(data = d2017_55_64)
employAGE_2017 = employAGE_2017.append(total2017_55_64, ignore_index=True)
employAGE_2017 = employAGE_2017.drop([3,4,5,7,8])


employStatus_2018 = employStatus_2018[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2018["year"] = employStatus_2018.apply(lambda x: 2018, axis=1)
employAGE_2018 = employStatus_2018.iloc[[0,2,3,4,5,6,7,8,9,10,11]]
d2018_25_44 = {"Label":["25 to 44 years"],"New York / Total / Estimate":[employAGE_2018.iloc[3,1]+employAGE_2018.iloc[4,1]+employAGE_2018.iloc[5,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2018.iloc[3,2]+employAGE_2018.iloc[4,2]+employAGE_2018.iloc[5,2]],"year":[2018]}
total2018_25_44 = pd.DataFrame(data = d2018_25_44)
employAGE_2018 = employAGE_2018.append(total2018_25_44, ignore_index=True)
d2018_55_64 = {"Label":["55 to 64 years"],"New York / Total / Estimate":[employAGE_2018.iloc[7,1]+employAGE_2018.iloc[8,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2018.iloc[7,2]+employAGE_2018.iloc[8,2]],"year":[2018]}
total2018_55_64 = pd.DataFrame(data = d2018_55_64)
employAGE_2018 = employAGE_2018.append(total2018_55_64, ignore_index=True)
employAGE_2018 = employAGE_2018.drop([3,4,5,7,8])


employStatus_2019 = employStatus_2019[["Label","New York / Total / Estimate","New York / Unemployment rate / Estimate"]]
employStatus_2019["year"] = employStatus_2019.apply(lambda x: 2019, axis=1)
employAGE_2019 = employStatus_2019.iloc[[0,2,3,4,5,6,7,8,9,10,11]]
d2019_25_44 = {"Label":["25 to 44 years"],"New York / Total / Estimate":[employAGE_2019.iloc[3,1]+employAGE_2019.iloc[4,1]+employAGE_2019.iloc[5,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2019.iloc[3,2]+employAGE_2019.iloc[4,2]+employAGE_2019.iloc[5,2]],"year":[2019]}
total2019_25_44 = pd.DataFrame(data = d2019_25_44)
employAGE_2019 = employAGE_2019.append(total2019_25_44, ignore_index=True)
d2019_55_64 = {"Label":["55 to 64 years"],"New York / Total / Estimate":[employAGE_2019.iloc[7,1]+employAGE_2019.iloc[8,1]],
     "New York / Unemployment rate / Estimate":[employAGE_2019.iloc[7,2]+employAGE_2019.iloc[8,2]],"year":[2019]}
total2019_55_64 = pd.DataFrame(data = d2019_55_64)
employAGE_2019 = employAGE_2019.append(total2019_55_64, ignore_index=True)
employAGE_2019 = employAGE_2019.drop([3,4,5,7,8]) 

frames = [employAGE_2010,employAGE_2011,employAGE_2012,employAGE_2013,employAGE_2014,employAGE_2015,employAGE_2016,employAGE_2017,employAGE_2018,employAGE_2019]
employAGE = pd.concat(frames)
employAGE = employAGE.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})
employAGE_2016

,Label,New York / Total / Estimate,New York / Unemployment rate / Estimate,year
0,Population 16 years and over,16048423,5.9,2016
1,16 to 19 years,1008553,20.3,2016
2,20 to 24 years,1386278,11.5,2016
6,45 to 54 years,2708708,4.2,2016
9,65 to 74 years,1715037,4,2016
10,75 years and over,1315744,3.1,2016
11,25 to 44 years,5347072,14.4,2016
12,55 to 64 years,2567031,8.4,2016

In [25]:
employAGE.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentByAge.csv")

In [50]:
employRACE_2010 = employStatus_2010.iloc[[11,12,13,14,16,17,18,19]]

employRACE_2011 = employStatus_2011.iloc[[11,12,13,14,16,17,18,19]]

employRACE_2012 = employStatus_2012.iloc[[11,12,13,14,16,17,18,19]]

employRACE_2013 = employStatus_2013.iloc[[11,12,13,14,16,17,18,19]]

employRACE_2014 = employStatus_2014.iloc[[11,12,13,14,16,17,18,19]]

employRACE_2015 = employStatus_2015.iloc[[13,14,15,16,18,19,20,21]]

employRACE_2016 = employStatus_2016.iloc[[13,14,15,16,18,19,20,21]]

employRACE_2017 = employStatus_2017.iloc[[13,14,15,16,18,19,20,21]]

employRACE_2018 = employStatus_2018.iloc[[13,14,15,16,18,19,20,21]]

employRACE_2019 = employStatus_2019.iloc[[13,14,15,16,18,19,20,21]]

frames = [employRACE_2010,employRACE_2011,employRACE_2012,employRACE_2013,employRACE_2014,employRACE_2015,employRACE_2016,employRACE_2017,employRACE_2018,employRACE_2019]
employRACE = pd.concat(frames)
employRACE = employRACE.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})

employRACE = employRACE.replace(to_replace='Asian alone', value='Asian')
employRACE = employRACE.replace(to_replace='Some other race alone', value='Some other race')
employRACE = employRACE.replace(to_replace='American Indian and Alaska Native alone', value='American Indian and Alaska Native')
employRACE = employRACE.replace(to_replace='Black or African American alone', value='Black or African American')
employRACE = employRACE.replace(to_replace='White alone', value='White')
employRACE

,Label,Total,UnemploymentRate,year
11,White,10501091.0,8.3,2010
12,Black or African American,2364238.0,15.0,2010
13,American Indian and Alaska Native,56557.0,12.2,2010
14,Asian,1177432.0,9.4,2010
16,Some other race,1188821.0,13.1,2010
17,Two or more races,322132.0,13.5,2010
18,Hispanic or Latino origin (of any race),2571164.0,12.3,2010
19,"White alone, not Hispanic or Latino",9369114.0,8.0,2010
11,White,10481223.0,7.9,2011
12,Black or African American,2382401.0,15.6,2011
13,American Indian and Alaska Native,52869.0,13.0,2011
14,Asian,1193322.0,7.6,2011
16,Some other race,1260485.0,13.1,2011
17,Two or more races,330755.0,14.0,2011
18,Hispanic or Latino origin (of any race),2625815.0,12.4,2011
19,"White alone, not Hispanic or Latino",9369163.0,7.6,2011
11,White,10540671.0,7.6,2012
12,Black or African American,2394148.0,15.2,2012
13,American Indian and Alaska Native,57456.0,18.0,2012
14,Asian,1235787.0,7.7,2012
16,Some other race,1251578.0,12.3,2012
17,Two or more races,336966.0,13.7,2012
18,Hispanic or Latino origin (of any race),2673394.0,11.8,2012
19,"White alone, not Hispanic or Latino",9368981.0,7.2,2012
11,White,10520954.0,7.0,2013
12,Black or African American,2432912.0,14.4,2013
13,American Indian and Alaska Native,57308.0,14.4,2013
14,Asian,1282828.0,7.5,2013
16,Some other race,1255680.0,11.9,2013
17,Two or more races,350687.0,11.0,2013
...,...,...,...,...
15,American Indian and Alaska Native,57256.0,11.8,2016
16,Asian,1388033.0,4.8,2016
18,Some other race,1328914.0,8.4,2016
19,Two or more races,383262.0,9.4,2016
20,Hispanic or Latino origin (of any race),2827675.0,7.8,2016
21,"White alone, not Hispanic or Latino",9205416.0,4.5,2016
13,White,10425348.0,4.4,2017
14,Black or African American,2509815.0,9.4,2017
15,American Indian and Alaska Native,61142.0,8.0,2017
16,Asian,1442041.0,4.2,2017
18,Some other race,1351466.0,7.7,2017
19,Two or more races,382283.0,7.5,2017
20,Hispanic or Latino origin (of any race),2887152.0,7.3,2017
21,"White alone, not Hispanic or Latino",9203769.0,4.1,2017
13,White,10307446.0,4.0,2018
14,Black or African American,2472737.0,8.2,2018
15,American Indian and Alaska Native,68088.0,8.5,2018
16,Asian,1395840.0,4.2,2018
18,Some other race,1286057.0,6.9,2018
19,Two or more races,406810.0,7.6,2018
20,Hispanic or Latino origin (of any race),2842971.0,6.5,2018
21,"White alone, not Hispanic or Latino",9093448.0,3.7,2018
13,White,10238572.0,3.6,2019
14,Black or African American,2477966.0,6.9,2019
15,American Indian and Alaska Native,61146.0,3.7,2019
16,Asian,1406898.0,3.9,2019
18,Some other race,1279004.0,6.3,2019
19,Two or more races,425378.0,7.0,2019
20,Hispanic or Latino origin (of any race),2852370.0,6.0,2019
21,"White alone, not Hispanic or Latino",9021901.0,3.3,2019

In [51]:
employRACE.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employmentByRACE.csv")

In [56]:
employEDUCATION_2010 = employStatus_2010.iloc[[31,32,33,34]]

employEDUCATION_2011 = employStatus_2011.iloc[[31,32,33,34]]

employEDUCATION_2012 = employStatus_2012.iloc[[31,32,33,34]]

employEDUCATION_2013 = employStatus_2013.iloc[[31,32,33,34]]

employEDUCATION_2014 = employStatus_2014.iloc[[31,32,33,34]]

employEDUCATION_2015 = employStatus_2015.iloc[[37,38,39,40]]

employEDUCATION_2016 = employStatus_2016.iloc[[37,38,39,40]]

employEDUCATION_2017 = employStatus_2017.iloc[[37,38,39,40]]

employEDUCATION_2018 = employStatus_2018.iloc[[37,38,39,40]]

employEDUCATION_2019 = employStatus_2019.iloc[[37,38,39,40]]

frames = [employEDUCATION_2010,employEDUCATION_2011,employEDUCATION_2012,employEDUCATION_2013,employEDUCATION_2014,employEDUCATION_2015,employEDUCATION_2016,employEDUCATION_2017,employEDUCATION_2018,employEDUCATION_2019]
employEDUCATION = pd.concat(frames)
employEDUCATION = employEDUCATION.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})
employEDUCATION

,Label,Total,UnemploymentRate,year
31,Less than high school graduate,1346408,14.8,2010
32,High school graduate (includes equivalency),2703461,9.8,2010
33,Some college or associate's degree,2758324,8.9,2010
34,Bachelor's degree or higher,3657607,5.4,2010
31,Less than high school graduate,1338143,12.9,2011
32,High school graduate (includes equivalency),2706364,9.9,2011
33,Some college or associate's degree,2762695,8.7,2011
34,Bachelor's degree or higher,3725582,5.1,2011
31,Less than high school graduate,1331255,13.7,2012
32,High school graduate (includes equivalency),2635400,9.8,2012
33,Some college or associate's degree,2815277,8.2,2012
34,Bachelor's degree or higher,3768368,4.7,2012
31,Less than high school graduate,1309031,12.7,2013
32,High school graduate (includes equivalency),2646536,9,2013
33,Some college or associate's degree,2776975,8,2013
34,Bachelor's degree or higher,3856925,4.5,2013
31,Less than high school graduate,1302143,10.2,2014
32,High school graduate (includes equivalency),2639947,7.8,2014
33,Some college or associate's degree,2777655,6.4,2014
34,Bachelor's degree or higher,3924187,3.7,2014
37,Less than high school graduate,1.29888e+06,10.1,2015
38,High school graduate (includes equivalency),2.64122e+06,7,2015
39,Some college or associate's degree,2.75959e+06,5.3,2015
40,Bachelor's degree or higher,3.97934e+06,3.4,2015
37,Less than high school graduate,1265315,8.6,2016
38,High school graduate (includes equivalency),2610871,6.5,2016
39,Some college or associate's degree,2728809,5.2,2016
40,Bachelor's degree or higher,4017816,3.1,2016
37,Less than high school graduate,1247033,8.4,2017
38,High school graduate (includes equivalency),2635741,5.8,2017
39,Some college or associate's degree,2698071,4.8,2017
40,Bachelor's degree or higher,4079238,2.9,2017
37,Less than high school graduate,1169035,7.9,2018
38,High school graduate (includes equivalency),2550020,5.1,2018
39,Some college or associate's degree,2596174,4.5,2018
40,Bachelor's degree or higher,4145049,2.7,2018
37,Less than high school graduate,1105118,7.2,2019
38,High school graduate (includes equivalency),2507698,4.5,2019
39,Some college or associate's degree,2578978,4,2019
40,Bachelor's degree or higher,4176972,2.5,2019

In [57]:
employEDUCATION.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employEDUCATION.csv")

In [62]:
employBelowPoverty_2010 = employStatus_2010.iloc[[26]]

employBelowPoverty_2011 = employStatus_2011.iloc[[26]]

employBelowPoverty_2012 = employStatus_2012.iloc[[26]]

employBelowPoverty_2013 = employStatus_2013.iloc[[26]]

employBelowPoverty_2014 = employStatus_2014.iloc[[26]]

employBelowPoverty_2015 = employStatus_2015.iloc[[31]]

employBelowPoverty_2016 = employStatus_2016.iloc[[31]]

employBelowPoverty_2017 = employStatus_2017.iloc[[31]]

employBelowPoverty_2018 = employStatus_2018.iloc[[31]]

employBelowPoverty_2019 = employStatus_2019.iloc[[31]]

frames = [employBelowPoverty_2010,employBelowPoverty_2011,employBelowPoverty_2012,employBelowPoverty_2013,employBelowPoverty_2014,employBelowPoverty_2015,employBelowPoverty_2016,employBelowPoverty_2017,employBelowPoverty_2018,employBelowPoverty_2019]
employBelowPoverty = pd.concat(frames)
employBelowPoverty = employBelowPoverty.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})
employBelowPoverty

                  Label        Total UnemploymentRate  year
26  Below poverty level      1543317             31.8  2010
26  Below poverty level      1676645             31.6  2011
26  Below poverty level      1662405             30.5  2012
26  Below poverty level      1693614             28.3  2013
26  Below poverty level      1706711             25.7  2014
31  Below poverty level  1.65319e+06             23.6  2015
31  Below poverty level      1568726             23.2  2016
31  Below poverty level      1494547             23.2  2017
31  Below poverty level      1412463             21.7  2018
31  Below poverty level      1304668             19.7  2019

In [64]:
employBelowPoverty.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employPorverty.csv")

In [70]:
employSex_2010 = employStatus_2010.iloc[[22,23]]

employSex_2011 = employStatus_2011.iloc[[22,23]]

employSex_2012 = employStatus_2012.iloc[[22,23]]

employSex_2013 = employStatus_2013.iloc[[22,23]]

employSex_2014 = employStatus_2014.iloc[[22,23]]

employSex_2015 = employStatus_2015.iloc[[24,25]]

employSex_2016 = employStatus_2016.iloc[[24,25]]

employSex_2017 = employStatus_2017.iloc[[24,25]]

employSex_2018 = employStatus_2018.iloc[[24,25]]

employSex_2019 = employStatus_2019.iloc[[24,25]]

frames = [employSex_2010,employSex_2011,employSex_2012,employSex_2013,employSex_2014,employSex_2015,employSex_2016,employSex_2017,employSex_2018,employSex_2019]
employSex = pd.concat(frames)
employSex = employSex.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})
employSex

     Label        Total UnemploymentRate  year
22    Male      5799763              9.9  2010
23  Female      6080273              8.6  2010
22    Male      5850530              9.2  2011
23  Female      6106357              8.6  2011
22    Male      5869026                9  2012
23  Female      6120357              8.3  2012
22    Male      5895262              8.6  2013
23  Female      6135331              7.7  2013
22    Male      5918053              7.1  2014
23  Female      6165967              6.5  2014
24    Male  5.93018e+06              6.4  2015
25  Female  6.16419e+06              5.7  2015
24    Male      5887967              5.8  2016
25  Female      6121122              5.4  2016
24    Male      5895161              5.6  2017
25  Female      6117026              4.8  2017
24    Male      5772002                5  2018
25  Female      5982333              4.4  2018
24    Male      5711812              4.3  2019
25  Female      5922302                4  2019

In [71]:
employSex.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employSex.csv")

In [74]:
employDisability_2010 = employStatus_2010.iloc[[28]]

employDisability_2011 = employStatus_2011.iloc[[28]]

employDisability_2012 = employStatus_2012.iloc[[28]]

employDisability_2013 = employStatus_2013.iloc[[28]]

employDisability_2014 = employStatus_2014.iloc[[28]]

employDisability_2015 = employStatus_2015.iloc[[34]]

employDisability_2016 = employStatus_2016.iloc[[34]]

employDisability_2017 = employStatus_2017.iloc[[34]]

employDisability_2018 = employStatus_2018.iloc[[34]]

employDisability_2019 = employStatus_2019.iloc[[34]]

frames = [employDisability_2010,employDisability_2011,employDisability_2012,employDisability_2013,employDisability_2014,employDisability_2015,employDisability_2016,employDisability_2017,employDisability_2018,employDisability_2019]
employDisability = pd.concat(frames)
employDisability = employDisability.rename(columns={"New York / Total / Estimate":"Total","New York / Unemployment rate / Estimate":"UnemploymentRate"})
employDisability

                  Label        Total UnemploymentRate  year
28  With any disability       979961               19  2010
28  With any disability      1027392             18.5  2011
28  With any disability      1009117             17.7  2012
28  With any disability      1046301             17.4  2013
28  With any disability      1073974               14  2014
34  With any disability  1.06704e+06             13.8  2015
34  With any disability      1076315             13.7  2016
34  With any disability      1066299             13.5  2017
34  With any disability      1028881             12.1  2018
34  With any disability      1037165               11  2019

In [75]:
employDisability.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\employment\employmentStatus\employDisability.csv")

In [82]:
NYCpopulation = pd.read_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\population\NYCpopulation.csv")

In [83]:
NYCpopulation

,Borough,Age,2010,2015,2020,2025,2030,2035,2040
0,NYC Total,0-4,521990,535209,545778,547336,542426,540523,546426
1,NYC Total,15-19,539844,505783,492532,519298,535024,546062,546750
2,NYC Total,20-24,647483,646075,606203,591683,625253,643728,657403
3,NYC Total,25-29,736105,770396,763956,715824,698195,740437,762757
4,NYC Total,30-34,667657,707726,743916,740268,693684,675497,715486
5,NYC Total,35-39,592299,611239,649594,684249,682964,639237,621899
6,NYC Total,40-44,571825,550097,569628,606185,638148,637517,596493
7,NYC Total,45-49,570273,535998,517668,537516,571723,600792,600514
8,NYC Total,50-54,546204,552074,520597,504322,523815,556586,584164
9,NYC Total,55-59,479661,493997,501239,474319,459574,477052,506390
10,NYC Total,60-64,418127,449279,464187,472842,447688,434046,450353
11,NYC Total,65-69,299533,353131,380864,395585,403234,382256,370119
12,NYC Total,70-74,236401,256786,304072,330132,342704,350069,331544
13,NYC Total,75-79,179677,192687,210236,251182,272561,284051,289778
14,NYC Total,80-84,143726,129798,139658,154606,184243,201409,209246
15,NYC Total,85+,142871,147632,142385,149319,161436,187608,209021
16,NYC Total,Total,8242624,8397114,8550972,8699966,8821027,8931003,9025145
17,Bronx,0-4,103144,106770,109972,111127,110880,110982,112571
18,Bronx,15-19,115662,105751,98987,103114,107753,111879,113100
19,Bronx,20-24,112897,124181,113827,107423,111941,116901,121256
20,Bronx,25-29,105710,115853,127995,117887,111171,116011,121249
21,Bronx,30-34,97824,99969,109797,122434,112812,106338,110963
22,Bronx,35-39,91016,91397,93530,103582,115705,106610,100424
23,Bronx,40-44,96073,86719,87217,89976,99685,111331,102576
24,Bronx,45-49,97569,92337,83496,84693,87465,96914,108171
25,Bronx,50-54,88029,94470,89495,81571,82859,85647,94910
26,Bronx,55-59,72545,79637,85632,81892,74718,76007,78521
27,Bronx,60-64,60934,66842,73506,79872,76473,69889,71076
28,Bronx,65-69,45349,51894,56988,63425,69011,66253,60560
29,Bronx,70-74,34794,37890,43380,48249,53737,58687,56320
...,...,...,...,...,...,...,...,...,...
84,Queens,Total,2250002,2289489,2330295,2353431,2373551,2394353,2412649
85,Staten Island,0-4,28339,28116,28683,29137,28984,28562,28244
86,Staten Island,15-19,32929,31364,31299,30810,30541,31094,31626
87,Staten Island,20-24,31458,32832,31311,31151,30697,30448,31000
88,Staten Island,25-29,29988,32257,33740,32035,31903,31443,31186
89,Staten Island,30-34,29859,31046,33431,34859,33128,33015,32542
90,Staten Island,35-39,31472,29905,31131,33418,34883,33175,33066
91,Staten Island,40-44,34158,31758,30214,31354,33688,35191,33478
92,Staten Island,45-49,36005,32513,30275,28721,29839,32087,33518
93,Staten Island,50-54,35743,36881,33340,30962,29404,30583,32891
94,Staten Island,55-59,31253,33673,34787,31367,29162,27735,28857
95,Staten Island,60-64,27370,29292,31599,32593,29419,27407,26070
96,Staten Island,65-69,19124,24237,25968,27992,28906,26174,24379
97,Staten Island,70-74,13507,16733,21232,22754,24548,25464,23065
98,Staten Island,75-79,10595,10968,13581,17259,18508,20104,20853
99,Staten Island,80-84,8263,7981,8259,10249,12989,14071,15265
100,Staten Island,85+,7855,8505,8604,8888,10212,12639,14321
101,Staten Island,Total,468730,478359,487155,493440,497749,500519,501109
102,NYC Total,5-9,477039,501640,516006,527690,529397,524170,522152
103,NYC Total,10-14,471909,457567,482453,497610,508958,509963,504650
104,Bronx,5-9,98664,102008,105775,109843,111137,110893,110942
105,Brooklyn,5-9,162302,173890,180252,182013,179508,177289,178081
106,Manhattan,5-9,61323,65822,68243,72011,72942,69971,66801
107,Queens,5-9,124735,130325,132342,133933,135413,135764,136512
108,Staten Island,5-9,30015,29595,29394,29890,30397,30253,29816
109,Staten Island,10-14,30797,30703,30307,30001,30541,31074,30932
110,Queens,10-14,124320,123672,129351,130384,132038,133473,133813
111,Manhattan,10-14,58229,55455,60331,62902,66322,66700,63630
112,Brooklyn,10-14,159404,155314,166761,174242,175992,173419,171265
113,Bronx,10-14,99159,92423,95703,100081,104065,105297,105010

In [115]:
economic = pd.read_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\ecomonic\economicGrowth.csv")
economic

,Unnamed: 0,GCP (NYC),GDP (USA),"Payroll-Jobs Growth, SAAR - NYC","Payroll-Jobs Growth, SAAR - USA","PIT Withheld, Growth, NSA - NYC","PIT Withheld, Growth, NSA - USA","Inflation Rate, NSA - NYC","Inflation Rate, NSA - USA","Unemployment Rate, SA - NYC","Unemployment Rate, SA - USA"
0,1/1/2000,NaN,NaN,3.2%,2.4%,11.2%,NaN,3.0%,3.2%,6.0%,4.0%
1,4/1/2000,NaN,NaN,3.9%,2.4%,3.8%,NaN,3.0%,3.3%,5.9%,3.9%
2,7/1/2000,NaN,NaN,0.1%,0.8%,7.0%,NaN,3.2%,3.5%,5.7%,4.0%
3,10/1/2000,NaN,NaN,3.2%,0.8%,4.8%,NaN,3.2%,3.4%,5.3%,3.9%
4,1/1/2001,NaN,NaN,-0.1%,0.6%,5.0%,NaN,2.8%,3.4%,5.1%,4.2%
5,4/1/2001,NaN,NaN,-3.2%,-1.1%,-4.2%,NaN,3.2%,3.4%,5.3%,4.4%
6,7/1/2001,NaN,NaN,-2.0%,-1.2%,-12.2%,NaN,2.5%,2.7%,6.1%,4.8%
7,10/1/2001,NaN,NaN,-10.0%,-2.4%,-8.7%,NaN,1.7%,1.9%,7.2%,5.5%
8,1/1/2002,NaN,NaN,-1.2%,-1.3%,-12.1%,NaN,2.3%,1.3%,7.9%,5.7%
9,4/1/2002,NaN,NaN,-0.2%,-0.4%,-1.7%,NaN,2.2%,1.3%,8.0%,5.8%
10,7/1/2002,NaN,NaN,-1.0%,-0.3%,4.7%,NaN,2.6%,1.6%,7.9%,5.7%
11,10/1/2002,NaN,NaN,-0.1%,0.0%,1.2%,NaN,3.1%,2.2%,8.2%,5.8%
12,1/1/2003,NaN,NaN,-2.8%,-0.5%,1.6%,5.0%,3.2%,2.9%,8.5%,5.9%
13,4/1/2003,NaN,NaN,-2.3%,-0.7%,3.9%,4.4%,2.7%,2.1%,8.4%,6.2%
14,7/1/2003,NaN,NaN,-1.1%,0.0%,8.5%,-5.1%,3.1%,2.2%,8.4%,6.1%
15,10/1/2003,NaN,NaN,1.6%,0.9%,18.3%,-0.6%,3.2%,1.9%,8.1%,5.8%
16,1/1/2004,NaN,NaN,0.0%,1.3%,23.5%,2.6%,2.8%,1.8%,7.9%,5.7%
17,4/1/2004,NaN,NaN,1.5%,2.2%,9.6%,2.6%,4.1%,2.9%,7.4%,5.6%
18,7/1/2004,NaN,NaN,1.8%,1.0%,9.1%,6.1%,3.5%,2.7%,6.8%,5.4%
19,10/1/2004,NaN,NaN,0.6%,1.7%,3.7%,6.1%,3.8%,3.3%,6.2%,5.4%
20,1/1/2005,NaN,NaN,1.5%,1.4%,11.4%,6.7%,4.1%,3.0%,5.9%,5.3%
21,4/1/2005,NaN,NaN,2.2%,2.2%,3.4%,-0.7%,3.3%,2.9%,5.7%,5.1%
22,7/1/2005,NaN,NaN,2.1%,2.2%,5.5%,5.0%,4.1%,3.8%,5.8%,5.0%
23,10/1/2005,NaN,NaN,0.9%,1.4%,7.9%,7.4%,4.0%,3.7%,5.8%,5.0%
24,1/1/2006,NaN,NaN,1.9%,2.4%,4.4%,8.0%,3.4%,3.6%,5.4%,4.7%
25,4/1/2006,NaN,NaN,2.4%,1.5%,6.2%,10.2%,4.7%,4.0%,5.2%,4.7%
26,7/1/2006,NaN,NaN,1.2%,1.3%,1.3%,6.4%,4.3%,3.3%,4.8%,4.6%
27,10/1/2006,NaN,NaN,3.0%,1.1%,0.9%,8.3%,2.8%,1.9%,4.6%,4.5%
28,1/1/2007,NaN,NaN,3.0%,1.6%,17.7%,9.5%,2.9%,2.4%,4.7%,4.5%
29,4/1/2007,NaN,NaN,1.1%,1.0%,9.9%,11.4%,2.5%,2.7%,5.0%,4.5%
...,...,...,...,...,...,...,...,...,...,...,...
50,7/1/2012,NaN,NaN,1.5%,1.2%,4.3%,4.2%,1.4%,1.7%,9.2%,8.0%
51,10/1/2012,NaN,NaN,1.8%,1.6%,7.2%,16.8%,1.9%,1.9%,9.0%,7.8%
52,1/1/2013,0.1%,3.6%,2.3%,1.9%,8.2%,2.3%,2.1%,1.7%,9.0%,7.7%
53,4/1/2013,0.7%,0.5%,3.1%,1.7%,4.4%,5.1%,1.6%,1.4%,8.9%,7.5%
54,7/1/2013,1.5%,3.2%,2.8%,1.6%,5.2%,9.3%,1.8%,1.6%,8.9%,7.3%
55,10/1/2013,3.4%,3.2%,3.9%,1.9%,2.9%,-3.7%,1.3%,1.2%,8.5%,7.0%
56,1/1/2014,-1.6%,-1.1%,2.4%,1.5%,10.3%,9.6%,1.4%,1.4%,8.0%,6.6%
57,4/1/2014,3.9%,5.5%,3.9%,2.4%,6.6%,7.6%,1.7%,2.1%,7.5%,6.2%
58,7/1/2014,5.0%,5.0%,3.8%,2.2%,8.8%,4.4%,1.3%,1.8%,7.0%,6.1%
59,10/1/2014,3.7%,2.3%,3.4%,2.3%,11.7%,8.2%,0.8%,1.2%,6.6%,5.7%
60,1/1/2015,2.5%,3.2%,2.6%,1.9%,3.3%,4.9%,-0.2%,-0.1%,6.3%,5.5%
61,4/1/2015,2.4%,3.0%,2.7%,2.0%,9.1%,5.2%,0.0%,0.0%,5.8%,5.4%
62,7/1/2015,1.1%,1.3%,2.8%,1.9%,7.9%,6.3%,0.1%,0.1%,5.3%,5.1%
63,10/1/2015,-1.3%,0.1%,3.2%,2.0%,1.8%,1.8%,0.6%,0.5%,5.3%,5.0%
64,1/1/2016,3.3%,2.0%,1.7%,1.7%,3.1%,6.0%,0.7%,1.1%,5.3%,4.9%
65,4/1/2016,-0.4%,1.9%,1.4%,1.5%,0.5%,-2.0%,0.9%,1.0%,5.2%,4.9%
66,7/1/2016,1.0%,2.2%,2.3%,2.0%,2.2%,1.9%,1.0%,1.1%,5.3%,4.9%
67,10/1/2016,1.8%,2.0%,1.0%,1.5%,4.6%,1.7%,1.6%,1.8%,5.0%,4.8%
68,1/1/2017,2.9%,2.3%,2.9%,1.5%,7.2%,6.7%,2.5%,2.5%,4.7%,4.6%
69,4/1/2017,1.8%,2.2%,1.7%,1.4%,6.5%,7.8%,1.9%,1.9%,4.7%,4.4%
70,7/1/2017,2.1%,3.2%,2.0%,1.5%,14.0%,4.3%,1.8%,2.0%,4.6%,4.3%
71,10/1/2017,4.0%,3.5%,2.2%,1.5%,16.2%,12.3%,1.7%,2.1%,4.4%,4.1%
72,1/1/2018,2.2%,2.6%,2.1%,1.7%,15.7%,-1.0%,1.6%,2.2%,4.3%,4.1%
73,4/1/2018,4.1%,3.5%,2.0%,1.8%,11.8%,-0.2%,2.0%,2.7%,4.2%,3.9%
74,7/1/2018,3.1%,2.9%,1.7%,1.5%,4.4%,-6.4%,2.1%,2.6%,4.0%,3.8%
75,10/1/2018,1.6%,1.1%,2.4%,1.3%,2.4%,-6.3%,1.8%,2.2%,4.0%,3.8%
76,1/1/2019,2.8%,3.1%,1.7%,1.3%,-0.7%,-3.3%,1.5%,1.6%,4.2%,3.9%
77,4/1/2019,2.2%,2.0%,2.0%,1.1%,7.9%,1.2%,1.6%,1.8%,4.3%,3.6%
78,7/1/2019,1.6%,2.1%,0.7%,1.5%,7.6%,12.1%,1.7%,1.8%,4.2%,3.6%
79,10/1/2019,2.4%,2.1%,2.2%,1.6%,6.1%,3.2%,1.8%,2.0%,4.0%,3.5%

In [116]:
economic = economic.rename(columns={"Unnamed: 0":"year",
                                   "Payroll-Jobs Growth, SAAR - NYC":"NYCPayrollGrowth",
                                   "Payroll-Jobs Growth, SAAR - USA":"USAPayrollGrowth",
                                   "PIT Withheld, Growth, NSA - NYC":"NYCPITGrowth",
                                   "PIT Withheld, Growth, NSA - USA":"USAPITTGrowth",
                                   "Inflation Rate, NSA - NYC":"NYCIflation",
                                   "Inflation Rate, NSA - USA":"USAIflation",
                                   "Unemployment Rate, SA - NYC":"NYCUnemployment",
                                   "Unemployment Rate, SA - USA":"USAUnemployment"})
economic = economic.drop(['GCP (NYC)', 'GDP (USA)'], axis=1)
economic = economic.fillna(0)
economic

,year,"Payroll-Jobs Growth, SAAR - NYC",USAPayrollGrowth,NYCPITGrowth,USAPITTGrowth,NYCIflation,USAIflation,NYCUnemployment,USAUnemployment
0,1/1/2000,3.2%,2.4%,11.2%,0,3.0%,3.2%,6.0%,4.0%
1,4/1/2000,3.9%,2.4%,3.8%,0,3.0%,3.3%,5.9%,3.9%
2,7/1/2000,0.1%,0.8%,7.0%,0,3.2%,3.5%,5.7%,4.0%
3,10/1/2000,3.2%,0.8%,4.8%,0,3.2%,3.4%,5.3%,3.9%
4,1/1/2001,-0.1%,0.6%,5.0%,0,2.8%,3.4%,5.1%,4.2%
5,4/1/2001,-3.2%,-1.1%,-4.2%,0,3.2%,3.4%,5.3%,4.4%
6,7/1/2001,-2.0%,-1.2%,-12.2%,0,2.5%,2.7%,6.1%,4.8%
7,10/1/2001,-10.0%,-2.4%,-8.7%,0,1.7%,1.9%,7.2%,5.5%
8,1/1/2002,-1.2%,-1.3%,-12.1%,0,2.3%,1.3%,7.9%,5.7%
9,4/1/2002,-0.2%,-0.4%,-1.7%,0,2.2%,1.3%,8.0%,5.8%
10,7/1/2002,-1.0%,-0.3%,4.7%,0,2.6%,1.6%,7.9%,5.7%
11,10/1/2002,-0.1%,0.0%,1.2%,0,3.1%,2.2%,8.2%,5.8%
12,1/1/2003,-2.8%,-0.5%,1.6%,5.0%,3.2%,2.9%,8.5%,5.9%
13,4/1/2003,-2.3%,-0.7%,3.9%,4.4%,2.7%,2.1%,8.4%,6.2%
14,7/1/2003,-1.1%,0.0%,8.5%,-5.1%,3.1%,2.2%,8.4%,6.1%
15,10/1/2003,1.6%,0.9%,18.3%,-0.6%,3.2%,1.9%,8.1%,5.8%
16,1/1/2004,0.0%,1.3%,23.5%,2.6%,2.8%,1.8%,7.9%,5.7%
17,4/1/2004,1.5%,2.2%,9.6%,2.6%,4.1%,2.9%,7.4%,5.6%
18,7/1/2004,1.8%,1.0%,9.1%,6.1%,3.5%,2.7%,6.8%,5.4%
19,10/1/2004,0.6%,1.7%,3.7%,6.1%,3.8%,3.3%,6.2%,5.4%
20,1/1/2005,1.5%,1.4%,11.4%,6.7%,4.1%,3.0%,5.9%,5.3%
21,4/1/2005,2.2%,2.2%,3.4%,-0.7%,3.3%,2.9%,5.7%,5.1%
22,7/1/2005,2.1%,2.2%,5.5%,5.0%,4.1%,3.8%,5.8%,5.0%
23,10/1/2005,0.9%,1.4%,7.9%,7.4%,4.0%,3.7%,5.8%,5.0%
24,1/1/2006,1.9%,2.4%,4.4%,8.0%,3.4%,3.6%,5.4%,4.7%
25,4/1/2006,2.4%,1.5%,6.2%,10.2%,4.7%,4.0%,5.2%,4.7%
26,7/1/2006,1.2%,1.3%,1.3%,6.4%,4.3%,3.3%,4.8%,4.6%
27,10/1/2006,3.0%,1.1%,0.9%,8.3%,2.8%,1.9%,4.6%,4.5%
28,1/1/2007,3.0%,1.6%,17.7%,9.5%,2.9%,2.4%,4.7%,4.5%
29,4/1/2007,1.1%,1.0%,9.9%,11.4%,2.5%,2.7%,5.0%,4.5%
...,...,...,...,...,...,...,...,...,...
50,7/1/2012,1.5%,1.2%,4.3%,4.2%,1.4%,1.7%,9.2%,8.0%
51,10/1/2012,1.8%,1.6%,7.2%,16.8%,1.9%,1.9%,9.0%,7.8%
52,1/1/2013,2.3%,1.9%,8.2%,2.3%,2.1%,1.7%,9.0%,7.7%
53,4/1/2013,3.1%,1.7%,4.4%,5.1%,1.6%,1.4%,8.9%,7.5%
54,7/1/2013,2.8%,1.6%,5.2%,9.3%,1.8%,1.6%,8.9%,7.3%
55,10/1/2013,3.9%,1.9%,2.9%,-3.7%,1.3%,1.2%,8.5%,7.0%
56,1/1/2014,2.4%,1.5%,10.3%,9.6%,1.4%,1.4%,8.0%,6.6%
57,4/1/2014,3.9%,2.4%,6.6%,7.6%,1.7%,2.1%,7.5%,6.2%
58,7/1/2014,3.8%,2.2%,8.8%,4.4%,1.3%,1.8%,7.0%,6.1%
59,10/1/2014,3.4%,2.3%,11.7%,8.2%,0.8%,1.2%,6.6%,5.7%
60,1/1/2015,2.6%,1.9%,3.3%,4.9%,-0.2%,-0.1%,6.3%,5.5%
61,4/1/2015,2.7%,2.0%,9.1%,5.2%,0.0%,0.0%,5.8%,5.4%
62,7/1/2015,2.8%,1.9%,7.9%,6.3%,0.1%,0.1%,5.3%,5.1%
63,10/1/2015,3.2%,2.0%,1.8%,1.8%,0.6%,0.5%,5.3%,5.0%
64,1/1/2016,1.7%,1.7%,3.1%,6.0%,0.7%,1.1%,5.3%,4.9%
65,4/1/2016,1.4%,1.5%,0.5%,-2.0%,0.9%,1.0%,5.2%,4.9%
66,7/1/2016,2.3%,2.0%,2.2%,1.9%,1.0%,1.1%,5.3%,4.9%
67,10/1/2016,1.0%,1.5%,4.6%,1.7%,1.6%,1.8%,5.0%,4.8%
68,1/1/2017,2.9%,1.5%,7.2%,6.7%,2.5%,2.5%,4.7%,4.6%
69,4/1/2017,1.7%,1.4%,6.5%,7.8%,1.9%,1.9%,4.7%,4.4%
70,7/1/2017,2.0%,1.5%,14.0%,4.3%,1.8%,2.0%,4.6%,4.3%
71,10/1/2017,2.2%,1.5%,16.2%,12.3%,1.7%,2.1%,4.4%,4.1%
72,1/1/2018,2.1%,1.7%,15.7%,-1.0%,1.6%,2.2%,4.3%,4.1%
73,4/1/2018,2.0%,1.8%,11.8%,-0.2%,2.0%,2.7%,4.2%,3.9%
74,7/1/2018,1.7%,1.5%,4.4%,-6.4%,2.1%,2.6%,4.0%,3.8%
75,10/1/2018,2.4%,1.3%,2.4%,-6.3%,1.8%,2.2%,4.0%,3.8%
76,1/1/2019,1.7%,1.3%,-0.7%,-3.3%,1.5%,1.6%,4.2%,3.9%
77,4/1/2019,2.0%,1.1%,7.9%,1.2%,1.6%,1.8%,4.3%,3.6%
78,7/1/2019,0.7%,1.5%,7.6%,12.1%,1.7%,1.8%,4.2%,3.6%
79,10/1/2019,2.2%,1.6%,6.1%,3.2%,1.8%,2.0%,4.0%,3.5%

In [117]:
economic.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\ecomonic\NewEconomicGrowth.csv")

In [125]:
USAgdp = pd.read_excel(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\ecomonic\gdp.xls")
USAgdp

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,Last Updated Date,2020-09-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.0
3,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
4,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
5,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
6,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
7,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN
8,Arab World,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6867.692047,7465.151651,7519.808260,7457.461109,6387.660615,6097.239025,6102.211067,6603.351190,6580.056257,NaN
9,United Arab Emirates,ARE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39194.676621,40976.499711,42412.630278,43751.838886,38663.383807,38141.846759,40644.804043,43839.356349,43103.323058,NaN
10,Argentina,ARG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,1155.890170,850.304737,1173.238213,1279.113432,...,12848.864197,13082.664326,13080.254732,12334.798245,13789.060425,12790.242473,14591.863381,11683.949622,10006.148974,NaN
11,Armenia,ARM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3525.804747,3681.857456,3838.185801,3986.231624,3607.296697,3591.829276,3914.501268,4220.490277,4622.733493,NaN
12,American Samoa,ASM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10294.302265,11568.793001,11505.393714,11507.232349,11843.331183,11696.955562,10823.444804,11466.690706,NaN,NaN
13,Antigua and Barbuda,ATG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12746.205024,13272.441329,12909.744178,13501.580922,14286.093160,15197.617455,15383.415188,16726.980808,17790.309307,NaN
14,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.732106,1851.841851,1964.150470,2128.068355,2277.558398,...,62517.833747,68012.147901,68150.107041,62510.791171,56755.721712,49971.131456,54066.471269,57395.919466,54907.101910,NaN
15,Austria,AUT,GDP per capita (current US$),NY.GDP.PCAP.CD,935.460427,1031.815004,1087.834243,1167.000532,1269.412583,1374.532140,...,51374.958407,48567.695286,50716.708706,51717.495941,44178.047378,45237.805092,47549.079040,51525.046434,50277.275087,NaN
16,Azerbaijan,AZE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7189.691229,7496.294648,7875.756953,7891.313147,5500.310382,3880.738731,4147.089716,4739.841710,4793.587020,NaN
17,Burundi,BDI,GDP per capita (current US$),NY.GDP.PCAP.CD,70.051735,71.167188,73.435306,78.514329,86.161606,51.381865,...,249.577979,252.358980,256.976003,274.857948,305.549773,282.193130,292.997631,271.752044,261.247473,NaN
18,Belgium,BEL,GDP per capita (current US$),NY.GDP.PCAP.CD,1273.691659,1350.197673,1438.523233,1535.023729,1701.846276,1835.594766,...,47348.525020,44673.115876,46744.662544,47700.540360,40991.808138,41998.335750,44288.508040,47491.323259,46116.699234,NaN
19,Benin,BEN,GDP per capita (current US$),NY.GDP.PCAP.CD,93.022509,95.572155,94.464535,99.859114,104.339768,110.132794,...,1130.273132,1145.140811,1251.210518,1291.409808,1076.797716,1087.287832,1136.592847,1240.829464,1219.432672,NaN
20,Burkina Faso,BFA,GDP per capita (current US$),NY.GDP.PCAP.CD,68.424749,71.558180,76.520611,78.372072,80.472767,81.725115,...,751.172957,758.000701,787.470176,792.846778,653.326980,687.670175,738.274159,820.160794,774.839690,NaN
21,Bangladesh,BGD,GDP per capita (current US$),NY.GDP.PCAP.CD,89.035241,97.595274,100.122116,101.901414,100.221114,106.646648,...,861.758444,883.105001,981.839879,1118.853663,1248.453398,1401.620466,1563.913857,1698.350394,1855.739824,NaN
22,Bulgaria,BGR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7806.348652,7393.189177,7651.817881,7874.260904,7053.603706,7545.790332,8331.058025,9423.558612,9737.601351,NaN
23,Bahrain,BHR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,22514.237946,23654.351391,24744.296959,24989.400120,22688.944400,22619.116672,23709.430468,23991.056677,23503.977127,NaN
24,"Bahamas, The",BHS,GDP per capita (current US$),NY.GDP.PCAP.CD,1550.239392,1651.288985,1752.854481,1867.025012,1994.380832,2144.754403,...,28006.379718,29485.620929,28768.029894,29445.030529,31405.963560,31588.834999,31827.242699,32217.871590,32933.486015,NaN
25,Bosnia and Herzegovina,BIH,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5092.551943,4778.636088,5131.394506,5329.635045,4727.277546,4994.683140,5394.591220,6072.180992,6073.265203,NaN
26,Belarus,BLR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6519.230195,6940.159254,7978.872615,8318.512690,5949.106307,5022.626643,5761.747120,6330.075246,6663.295293,NaN
27,Belize,BLZ,GDP per capita (current US$),NY.GDP.PCAP.CD,304.917107,316.403606,327.126867,336.941466,351.161126,377.594305,...,4423.489797,4505.621302,4568.502958,4705.602690,4775.955648,4818.403909,4887.577208,4884.734162,4815.163711,NaN
28,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,1902.402119,1961.538169,2020.385965,2020.265248,2199.727007,2282.216546,...,85973.158416,85458.455508,85748.065414,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Bolivia,BOL,GDP per capita (current US$),NY.GDP.PCAP.CD,102.237890,109.061012,116.925153,123.429310,136.312431,149.640074,...,2346.337170,2609.880819,2908.200085,3081.878834,3035.972215,3076.658949,3351.124040,3548.590153,3552.068762,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Latin America & the Caribbean (IDA & IBRD coun...,TLA,GDP per capita (current US$),NY.GDP.PCAP.CD,365.695285,376.089531,418.736837,410.037568,444.760748,460.881603,...,10128.632241,10111.758072,10247.214019,10334.430668,8728.070160,8417.027467,9288.199577,8924.133351,8681.196686,NaN
238,Timor-Leste,TLS,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,947.513730,1013.050451,1210.033296,1232.456832,1334.661956,1358.201692,1294.715534,1237.102682,1294.188934,NaN
239,Middle East & North Africa (IDA & IBRD countries),TMN,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4644.130504,5036.720832,4623.479680,4483.061040,3955.555060,3938.533311,3799.787291,NaN,NaN,NaN
240,Tonga,TON,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4084.624132,4597.742305,4428.566481,4393.940811,4320.637990,3966.156520,4217.476507,4364.015561,NaN,NaN
241,South Asia (IDA & IBRD),TSA,GDP per capita (current US$),NY.GDP.PCAP.CD,82.347834,86.048624,89.913986,98.981502,110.877920,116.487941,...,1367.313138,1364.416403,1381.856627,1494.420765,1541.803686,1651.089463,1866.886067,1899.609233,1959.917165,NaN
242,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP per capita (current US$),NY.GDP.PCAP.CD,131.710996,133.716643,141.494765,158.268493,150.876008,163.955336,...,1745.443057,1781.433136,1849.693610,1885.472563,1673.449291,1504.238409,1560.887347,1589.425156,1585.436468,NaN
243,Trinidad and Tobago,TTO,GDP per capita (current US$),NY.GDP.PCAP.CD,631.702115,676.398050,704.219154,760.401295,788.702764,807.874268,...,19034.149197,19157.417037,20143.664449,20270.859372,18289.704340,16176.947370,16238.193192,17129.913090,17276.465447,NaN
244,Tunisia,TUN,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,217.911274,...,4264.674946,4152.678587,4222.703245,4305.474165,3861.688531,3697.930831,3481.228739,3438.789089,3317.541013,NaN
245,Turkey,TUR,GDP per capita (current US$),NY.GDP.PCAP.CD,509.423852,283.828274,309.446667,350.662950,369.583432,386.358086,...,11335.510510,11707.259712,12519.391426,12095.854572,10948.724607,10820.633842,10513.648432,9370.176355,9042.492983,NaN
246,Tuvalu,TUV,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3640.723240,3507.940655,3454.828692,3398.706483,3197.772252,3255.928693,3572.493579,3700.744263,4059.029996,NaN
247,Tanzania,TZA,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,781.437014,867.867681,970.416938,1030.092917,947.933446,966.474622,1004.841121,1060.994615,1122.121810,NaN
248,Uganda,UGA,GDP per capita (current US$),NY.GDP.PCAP.CD,62.509598,63.221022,62.226340,69.173562,76.311526,110.802233,...,825.838435,783.717921,803.509374,876.354300,840.401571,730.625040,747.196907,767.097760,776.768576,NaN
249,Ukraine,UKR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3569.758121,3855.417729,4029.711252,3104.643206,2124.662319,2187.730510,2640.675677,3096.817402,3659.031312,NaN
250,Upper middle income,UMC,GDP per capita (current US$),NY.GDP.PCAP.CD,181.614129,164.640081,170.678748,174.105284,192.377586,208.545408,...,7225.172229,7678.096345,8070.062903,8258.437751,7695.503939,7629.406856,8364.770425,8911.911519,9040.045782,NaN
251,Uruguay,URY,GDP per capita (current US$),NY.GDP.PCAP.CD,489.351689,601.703237,656.713479,584.291412,741.243607,701.704979,...,14236.681189,15171.584663,16973.674213,16831.972944,15613.764273,15387.144030,17322.147389,17277.970110,16190.126957,NaN
252,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,3827.527110,...,49886.818109,51610.605278,53117.667831,55047.725560,56822.518820,57927.516852,59957.725851,62840.020239,65118.358333,NaN
253,Uzbekistan,UZB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1926.292997,2137.025122,2281.410973,2492.336643,2615.025134,2567.799207,1826.566919,1529.082864,1724.841134,NaN
254,St. Vincent and the Grenadines,VCT,GDP per capita (current US$),NY.GDP.PCAP.CD,161.361347,170.379137,174.500270,162.809320,173.399565,175.654363,...,6242.195332,6390.310632,6639.607146,6684.807367,6920.878074,7075.065820,7212.960181,7361.400962,7463.537831,NaN
255,"Venezuela, RB",VEN,GDP per capita (current US$),NY.GDP.PCAP.CD,955.446183,970.356398,1023.355588,1077.402694,864.471682,869.535292,...,10955.349913,12985.505325,12456.712454,16054.490513,NaN,NaN,NaN,NaN,NaN,NaN
256,British Virgin Islands,VGB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Virgin Islands (U.S.),VIR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39144.165774,37849.728721,34819.147755,33573.097030,34797.140470,35931.541252,35938.024388,NaN,NaN,NaN
258,Vietnam,VNM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1525.115988,1735.141276,1886.671896,2030.261955,2085.101484,2192.214539,2365.621666,2566.596950,2715.276036,NaN
259,Vanuatu,VUT,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3264.537017,3133.090209,3124.233078,3088.258303,2801.939848,2889.853036,3082.356323,3095.702156,3058.065675,NaN
260,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,451.744220,463.828830,489.547101,516.615106,554.553301,591.718115,...,10488.334016,10605.208322,10781.855305,10952.344419,10246.507362,10281.908800,10817.481947,11374.846763,11428.569851,NaN
261,Samoa,WSM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3933.459357,4022.199120,4037.509315,3937.758712,4073.666010,4109.165135,4258.486270,4183.408032,4315.920675,NaN
262,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3741.875052,3596.804655,3891.266363,4080.330717,3603.025501,3780.003689,4045.614209,4419.914327,4417.509940,NaN
263,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1374.621285,1446.536354,1607.152365,1673.146354,1395.439633,1033.733043,882.395759,968.159048,NaN,NaN
264,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,443.009816,454.962013,473.011615,511.497253,548.995942,584.704072,...,8007.412846,7501.469984,6832.456891,6433.187277,5734.633629,5272.918425,6132.479841,6374.028196,6001.400814,NaN
265,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188867,220.042137,212.578123,213.896441,242.384333,303.281910,...,1672.908251,1763.072733,1878.907001,1763.057298,1337.796110,1280.578898,1534.865371,1556.334482,1291.343357,NaN
266,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813699,280.828951,276.688781,277.479715,281.558440,293.308854,...,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1548.170056,1683.740577,1463.985910,NaN

In [126]:
header_row = 2

USAgdp.columns = USAgdp.iloc[header_row]

USAgdp = USAgdp[USAgdp["Country Name"] == "United States"]
USAgdp = USAgdp.drop(['Indicator Name','Indicator Code'], axis=1)
USAgdp

2,Country Name,Country Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
252,United States,USA,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,3827.52711,4146.316646,4336.426587,...,49886.818109,51610.605278,53117.667831,55047.72556,56822.51882,57927.516852,59957.725851,62840.020239,65118.358333,NaN

In [127]:
USAgdp.to_csv(r"C:\Users\Administrator\Desktop\columbia\5702\final project\RawData\ecomonic\USAgdp.csv")